<footer class='footer'>
  <div class='row'>
    <div class='col'>
      <h3 class='title'>Social Media</h3>
      {% include social_bar.html %}
    </div>
    <div class='col'>
      <h3 class='title'>Contact Us</h3>
      <h4 class='sub-title'>Address</h4>
      <p>replace this</p>
      <h4 class='sub-title'>Phone</h4>
      <p>replace this</p>
      <h4 class='sub-title'>E-Mail</h4>
      <p>replace this</p>
    </div>
    <div class='col'>
      <h3 class='title'>Useful Links</h3>
      <a class='link' href='/'>Home</a>
      <a class='link' href='/ministry'>Ministry</a>
      <a class='link' href='/discipleship'>Discipleship</a>
      <a class='link' href='/media'>Media</a>
      <a class='link' href='/contact'>Contact</a>
      <a class='link' href='/gallery'>Gallery</a>
    </div>
    <div class='col'>
      <h3 class='title'>Christ Our Passover International Church</h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </div>
  </div>
  <div class='row center-cont'>
    <p id='copyright'>Copyright ©2019 All rights reserved Christ Our Passover International Church</p>
    <p>Created by <a href='https://josuerojasrojas.github.io'> Josue Rojas</a></p>
  </div>
</footer>
