<footer class='footer'>
  <div class='row'>
    <div class='col'>
      <h3 class='title'>Social Media</h3>
      {% include social_bar.html %}
    </div>
    <div class='col'>
      <h3 class='title'>Contact Us</h3>
      <h4 class='sub-title'>Address</h4>
      <p>Hawass, Ethiopia</p>
      <h4 class='sub-title'>Phone</h4>
      <p>+251983713737</p>
      <h4 class='sub-title'>E-Mail</h4>
      <p>hazatvworld@gmail.com</p>
    </div>
    <div class='col'>
      <h3 class='title'>Useful Links</h3>
      <a class='link' href='/'>Home</a>
      <a class='link' href='/aboutus'>About Us</a>
      <!-- <a class='link' href='/discipleship'>Discipleship</a> -->
      <a class='link' href='/media'>Media</a>
      <a class='link' href='/contact'>Contact</a>
      <a class='link' href='/gallery'>Gallery</a>
    </div>
    <div class='col'>
      <h3 class='title'>Christ Our Passover International Church</h3>
      <p>
        Equipping the generation for Spiritual & mental excellence
      </p>
    </div>
  </div>
  <div class='row center-cont'>
    <p id='copyright'>Copyright ©2019 All rights reserved Christ Our Passover International Church</p>
    <!-- <p style='font-size:.1rem'>Created by <a href='https://josuerojasrojas.github.io'> Josue Rojas</a></p> -->
  </div>
</footer>
