---
data_file: index
---

{% include partial_assets/sass_partials.sass %}

.link-button-wrapper
  width: 100%
  margin: 10px 0

.form-links
  display: flex
  justify-content: center
  .link-button-wrapper
    margin-top: 5px
    width: initial
    &:first-child
      margin-right: 15px
    .link-button
      width: 150px
      border-width: 3px
      font-size: 1.2rem

.line
  border-top: 1px solid #e3dfd7
  width: 60%
  margin: 20px auto

.line-before::before
  content: ""
  display: block
  border-top: 1px solid #e3dfd7
  width: 60%
  margin: 10px auto

.line-after::after
  content: ""
  display: block
  border-top: 1px solid #e3dfd7
  width: 60%
  margin: 10px auto

.section
  text-align: center

.section.media
  .banner-wrapper
    width: 90%
    height: 200px
    margin: auto
    img
      display: block
      margin: auto auto 10px
      max-width: 100%
      max-height: 100%
      height: auto
      width: auto
  .videos-wrapper
    .video
      height: 200px
      width: 90%
      +medium-devices
        width: 25%
