---
data_file: index
---

{% include partial_assets/sass_partials.sass %}

.link-button-wrapper
  width: 100%
  margin: 10px 0

.form-links
  display: flex
  justify-content: center
  .link-button-wrapper
    margin-top: 5px
    width: initial
    &:first-child
      margin-right: 15px
    .link-button
      width: 150px
      border-width: 3px
      font-size: 1.2rem

.line
  border-top: 1px solid #e3dfd7
  width: 60%
  margin: 20px auto

.line-before::before
  content: ""
  display: block
  border-top: 1px solid #e3dfd7
  width: 60%
  margin: 10px auto

.line-after::after
  content: ""
  display: block
  border-top: 1px solid #e3dfd7
  width: 60%
  margin: 10px auto

.section
  text-align: center
  width: 100%

.section#media-section
  .banner-wrapper
    width: 90%
    height: 200px
    margin: auto
    img
      display: block
      margin: auto auto 10px
      max-width: 100%
      max-height: 100%
      height: auto
      width: auto
  .videos-wrapper
    .video
      height: 200px
      width: 90%
      +medium-devices
        width: 25%

.section#schedule-section
  .contact-wrapper
    .info-wrapper
      p
        font-size: 18px

.section#form-section
  form
    border: 1px solid #e3dfd7
    border-top: 7px solid $link-hover-color
    border-radius: 5px
    background-color: white
    padding: 20px
    width: 90%
    margin: 10px auto
    text-align: left
    .title
      text-align: center
    label
      width: 100%
      font-weight: 800
      font-size: 1.1rem
      color: black
    input.text-input
      width: 100%
      width: 90%
      display: block
      min-height: 30px
      margin: 10px 0 20px 0
      outline: none
      font-size: 1.1rem
      border: 1px solid white
      border-bottom: 1px solid #e3dfd7
    input.button
      display: block
      color: white
      background-color: $link-hover-color
      transition: 200ms background-color
      padding: 15px 10px
      min-width: 90px
      font-size: 1.1rem
      border: 0
      cursor: pointer
      &:hover
        background-color: $font-second-color
  +medium-devices
    form
      width: 75%
  +large-devices
    form
      width: 39.8%
      margin: 10px 6.666%
      display: inline-block
      &:first-child
        margin-right: 3.333%
      &:last-child
        margin-left: 3.333%

.form-responce
  background-color: rgba(0,0,0,.3)
  -webkit-backdrop-filter: blur(10px)
  backdrop-filter: blur(10px)
  width: 100vw
  height: 100vh
  position: fixed
  z-index: 200
  left: 0
  justify-content: center
  align-items: center
  top: -100vh
  transition: top 600ms ease
  display: flex
  .card
    margin: auto
    display: inline-block
    background-color: white
    border: 1px solid #e3dfd7
    border-radius: 5px
    padding: 20px 20px
    text-align: center
    .text
      margin-bottom: 7px
    .button
      display: block
      margin: auto
      background-color: $link-hover-color
      color: white
      transition: 200ms background-color
      padding: 15px 10px
      min-width: 90px
      font-size: 1.1rem
      border: 0
      cursor: pointer
      &:hover
        background-color: $font-second-color

.active-responce
  .form-responce
    top: 0%
