---
layout: default
title: Home
permalink: /
data_file: 'index'
---

{% include home_message.html %}
{% include slideshow.html %}
<div class='section media'>
  <div class='banner-wrapper'><img src='/resources/images/other/banner_hazatv.jpg' /></div>
  <h1>HazaTV WorldWide</h1>
  <h4>*Get Empowered for Excellence!</h4>
  <div class='videos-wrapper'>
    <iframe class='video' src="https://www.youtube.com/embed/BE8ihHQkXV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class='video' src="https://www.youtube.com/embed/MWFD_DlA9ko" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class='video' src="https://www.youtube.com/embed/xhyF7GEMA0U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class='link-button-wrapper'>
  {% include button_link.html link="#" text="Donate"%}
</div>
{% include social_bar.html %}
<div class='form-links'>
  <div class='link-button-wrapper'>
    {% include button_link.html link="/prayer" text="Prayer" alt=true%}
  </div>
  <div class='link-button-wrapper'>
    {% include button_link.html link="/testimony" text="Testimony" alt=true%}
  </div>
</div>
