---
layout: default
title: Home
permalink: /
data_file: 'index'
---

{% include home_message.html %}
{% include slideshow.html %}
<div class='section media line-before line-after'>
  <div class='banner-wrapper'><img src='/resources/images/other/banner_hazatv.jpg' /></div>
  <h1>HazaTV WorldWide</h1>
  <h4>*Get Empowered for Excellence!</h4>
  <div class='videos-wrapper'>
    <iframe class='video' src="https://www.youtube.com/embed/BE8ihHQkXV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class='video' src="https://www.youtube.com/embed/MWFD_DlA9ko" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class='video' src="https://www.youtube.com/embed/xhyF7GEMA0U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class='section schedule line-after'>
  <h1>Service Schedule</h1>
  <p>
    Saturday: 10:00am - 1:00pm LT (Worship & Prayer)
    <br>
    Sunday: 9:00am - 1:00pm LT (Worship, Teaching, & Prayer)
  </p>
  {% include contact.html %}
</div>
<div class='link-button-wrapper'>
  {% include button_link.html link="#" text="Donate"%}
</div>
{% include social_bar.html %}
